<section data-ng-controller="HomeController">
	<!-- *****************************************************************************************************************
	 HEADERWRAP
	 ***************************************************************************************************************** -->
	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<img src="./modules/core/img/find-partners.png" style="position: relative; bottom: 20px;"/>
					<h1 style="color: #000000;">Find Startup Partners</h1>
				</div>
				<div class="col-lg-8 col-lg-offset-2">
					<br />
					<a href="#!/projects" class="btn btn-danger btn-lg" style="position: relative; bottom: 20px;">View Available Projects</a>
				</div>

			</div><!-- /row -->
		</div> <!-- /container -->
	</div><!-- /headerwrap -->

	<!-- *****************************************************************************************************************
	 SERVICE LOGOS
	 ***************************************************************************************************************** -->


	<!-- *****************************************************************************************************************
	 MIDDLE CONTENT
	 ***************************************************************************************************************** -->



	<!-- *****************************************************************************************************************
	 TESTIMONIALS
	 ***************************************************************************************************************** -->



	<!-- *****************************************************************************************************************
	 OUR CLIENTS
	 ***************************************************************************************************************** -->



	<!-- *****************************************************************************************************************
	 FOOTER
	 ***************************************************************************************************************** -->


</section>
